.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form_border {
  border: solid 2px #000 !important;
}

.active {
  transition: all ease-in 0.2s;
  transform: scale(0.85);
}

.active .active_icon {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: green;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  right: 0;
  color: #ffffff;
}
